body
{
    font-family: 'Imperial Script', cursive;
    background-color: azure;
}
.header_div
{
    background-color: cadetblue;
    color: darkblue;
}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color:rgb(184, 11, 11);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;

}
.main_div button{
    font-family: 'Roboto',sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.footer {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: whitesmoke;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(128,128,128);

}